__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.ruff_cache
.venv
venv
env
.env
.env.*
.git
.gitignore
.logs
logs
.gocache
.uv-cache
coverage
dist
build
*.test
*.out
*.prof
grok2api
grok2api.exe
/data
/data/*
/data/tmp
/data/tmp/*
/tests
